.NormalCharacterStyle10
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle11
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle12
{
	font-family : Open Sans;
	font-weight : bold;
	font-size : 30px;
	line-height : 40px;
	color : #F1592A;
	color : rgb(241, 89, 42);
}
.NormalCharacterStyle13
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle15
{
	font-family : Open Sans;
	font-weight : bold;
	font-size : 30px;
	line-height : 40px;
	color : #F1592A;
	color : rgb(241, 89, 42);
}
.NormalCharacterStyle16
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle14
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle17
{
	font-family : Open Sans;
	font-weight : bold;
	font-size : 30px;
	line-height : 40px;
	color : #F1592A;
	color : rgb(241, 89, 42);
}
.NormalCharacterStyle18
{
	font-family : Open Sans;
	font-weight : bold;
	font-size : 30px;
	line-height : 40px;
	color : #F1592A;
	color : rgb(241, 89, 42);
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 27px;
	line-height : 35px;
	color : #F1582C;
	color : rgb(241, 88, 44);
}
.NormalCharacterStyle9
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle7
{
	font-family : Myriad Pro;
	font-size : 27px;
	line-height : 35px;
	color : #F1582C;
	color : rgb(241, 88, 44);
}
.NormalCharacterStyle6
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 27px;
	line-height : 35px;
	color : #F1582C;
	color : rgb(241, 88, 44);
}
.NormalCharacterStyle3
{
	font-family : Open Sans;
	font-size : 27px;
	line-height : 35px;
	color : #0000FF;
	color : rgb(0, 0, 255); 
	text-decoration : underline;
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 27px;
	line-height : 35px;
	color : #353535;
	color : rgb(53, 53, 53);
}
.XMLID_3431_
{
	background-image : url(images/XMLID_3431_.png);
	background-repeat : no-repeat;
}
.XMLID_3564_
{
	background : #FFD400;
	background : rgba(255, 212, 0, 1);
}
.XMLID_3429_
{
	background : #FFEBE6;
	background : rgba(255, 235, 230, 1);
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.XMLID_3430_
{
	background : #FFEBE6;
	background : rgba(255, 235, 230, 1);
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.XMLID_1295_
{
	background : #FFEBE6;
	background : rgba(255, 235, 230, 1);
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.XMLID_1429_
{
	background : #FFD400;
	background : rgba(255, 212, 0, 1);
}
.XMLID_1294_
{
	background : #FFEBE6;
	background : rgba(255, 235, 230, 1);
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.XMLID_1306_
{
	background-image : url("images/XMLID_1306_.png");
	background-repeat : no-repeat;
}
.XMLID_1296_
{
	background-image : url(images/XMLID_1296_.png);
	background-repeat : no-repeat;
}
.XMLID_3393_
{
	background-image : url(images/XMLID_3393_.png);
	background-repeat : no-repeat;
}
.XMLID_3313_
{
	background-image : url(images/XMLID_3313_.png);
	background-repeat : no-repeat;
}
.XMLID_3257_
{
	background-image : url(images/XMLID_3257_.png);
	background-repeat : no-repeat;
}
.XMLID_1288_
{
	background-image : url(images/XMLID_1288_.png);
	background-repeat : no-repeat;
}
.XMLID_3353_
{
	background-image : url(images/XMLID_3353_.png);
	background-repeat : no-repeat;
}
.XMLID_2657_
{
	background-image : url(images/XMLID_2657_.png);
	background-repeat : no-repeat;
}
.XMLID_2532_
{
	background-image : url(images/XMLID_2532_.png);
	background-repeat : no-repeat;
}
.XMLID_2458_
{
	background-image : url(images/XMLID_2458_.png);
	background-repeat : no-repeat;
}
.XMLID_2442_
{
	background-image : url(images/XMLID_2442_.png);
	background-repeat : no-repeat;
}
.XMLID_2420_
{
	background-image : url(images/XMLID_2420_.png);
	background-repeat : no-repeat;
}
.XMLID_2330_
{
	background-image : url(images/XMLID_2330_.png);
	background-repeat : no-repeat;
}
.XMLID_2187_
{
	background-image : url(images/XMLID_2187_.png);
	background-repeat : no-repeat;
}
.XMLID_2318_
{
	background-image : url(images/XMLID_2318_.png);
	background-repeat : no-repeat;
}
.XMLID_1_
{
	background-image : url(images/XMLID_1_.png);
	background-repeat : no-repeat;
}
.XMLID_678_
{
	background-image : url(images/XMLID_678_.png);
	background-repeat : no-repeat;
}
.XMLID_798_
{
	background-image : url(images/XMLID_798_.png);
	background-repeat : no-repeat;
}
.XMLID_782_
{
	background-image : url(images/XMLID_782_.png);
	background-repeat : no-repeat;
}
.XMLID_509_
{
	background-image : url(images/XMLID_509_.png);
	background-repeat : no-repeat;
}
.XMLID_906_
{
	background-image : url(images/XMLID_906_.png);
	background-repeat : no-repeat;
}
.XMLID_806_
{
	background-image : url(images/XMLID_806_.png);
	background-repeat : no-repeat;
}
.XMLID_48_
{
	background-image : url(images/XMLID_48_.png);
	background-repeat : no-repeat;
}
.XMLID_55_
{
	background-image : url(images/XMLID_55_.png);
	background-repeat : no-repeat;
}
.XMLID_450_
{
	background-image : url(images/XMLID_450_.png);
	background-repeat : no-repeat;
}
.XMLID_1142_
{
	background-image : url(images/XMLID_1142_.png);
	background-repeat : no-repeat;
}
.XMLID_326_
{
	background-image : url(images/XMLID_326_.png);
	background-repeat : no-repeat;
}
.XMLID_937_
{
	background-image : url(images/XMLID_937_.png);
	background-repeat : no-repeat;
}
.XMLID_918_
{
	background-image : url(images/XMLID_918_.png);
	background-repeat : no-repeat;
}
.XMLID_1260_
{
	background-image : url(images/XMLID_1260_.png);
	background-repeat : no-repeat;
}
.XMLID_775_
{
	background-image : url(images/XMLID_775_.png);
	background-repeat : no-repeat;
}
.XMLID_2_
{
	background-image : url(images/XMLID_2_.png);
	background-repeat : no-repeat;
}
.XMLID_1190_
{
	background-image : url(images/XMLID_1190_.png);
	background-repeat : no-repeat;
}
.XMLID_307_
{
	background-image : url(images/XMLID_307_.png);
	background-repeat : no-repeat;
}
.XMLID_1225_
{
	background-image : url(images/XMLID_1225_.png);
	background-repeat : no-repeat;
}
