{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}Index{% endblock title %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Shopee">

        {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'shopee.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        {% endblock %}
    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>