{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
    <div class="container">
        <div class="container">
            <div>
                <h1>APA ITU PENJUAL TERPILIH SHOPEE?</h1>
                <p3>Sebuah apresiasi untuk penjual yang aktif dan memiliki pelanggan yang baik</p3>
            </div>
        </div>
        <!--<img src="{% static 'images/XMLID_1306_.png' %}" alt="My image"/>-->
        <!--<img src="{% static 'images/XMLID_1_.png' %}" alt="My image"/>-->
    </div>
</div>
<div class="container" style="background:#FFEBE6">
    <div class="container">
        <div class="container">
            <div>
                <h1>KRITERIA PENJUAL TERPILIH SHOPEE</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/XMLID_678_.png' %}" />
                    <p3>Detail No.KTP telah sukses diterima dan disetujui oleh Shopee</p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/XMLID_1142_.png' %}" />
                    <p3>Mempunyai presentase chat dibalas <b>&ge;80%</b></p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/XMLID_937_.png' %}" />
                    <p3>Mempunyai rating <b>&ge;4.5</b></p3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 2.png' %}" />
                    <p3>Mempunyai minimum jumlah transaksi berhasil sebesar <b>50 pesanan</b> dalam sebulan terakhir</p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 4.png' %}" />
                    <p3>Melayani <b>25 pembeli berbeda</b> dalam sebulan terakhir</p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 5.png' %}" />
                    <p3>Pembatalan dan pengembalian dalam sebulan terakhir <b>&ge;10%</b></p3>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                Pastikan bahwa produk yang kamu jual sesuai dengan
                <a href="https://shopee.co.id/docs/3000">Ketentuan dan Kebijakan Shopee</a>
            </div>
            <div>
                <a class="btn btn-primary btn-lg" href="https://mall.shopee.co.id/help_center/answer/3813/?category=payment">
                    CEK KRITERIA LENGKAP DI SINI</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container">
        <div class="container">
            <div>
                <h1>BAGAIMANA CARA MENGENALI PENJUAL TERPILIH SHOPEE?</h1>
                <p3>Penjual terpilih Shopee dapat dikenali dari badge <img src="{% static 'images/XMLID_775_.png' %}" />
                    yang dapat kamu temukan di:
                </p3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 7.png' %}" />
                    <p3>Bawah foto profil toko</p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 8.png' %}" />
                    <p3>Setiap halaman produk</p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 9.png' %}" />
                    <p3>Setiap foto produk</p3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background:#FFEBE6">
    <div class="container">
        <div class="container">
            <div>
                <h1>APA KEUNTUNGAN MENJADI PENJUAL TERPILIH SHOPEE?</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 10.png' %}" />
                    <b><p3>Toko Lebih Menarik dengan Tampilan Eksklusif</p3></b>
                    <p3>Tokomu akan terlihat lebih terpercaya dan istimewa dibandingkan toko yang lain dengan badge kami.</p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 11.png' %}" />
                    <b><p3>Kesempatan Bergabung Dalam Promosi</p3></b>
                    <p3>Mendapatkan lebih banyak <i>exposure</i> dan dapat menjangkau lebih banyak pembeli.</p3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img class="img-responsive" src="{% static 'images/Asset 12.png' %}" />
                    <b><p3>Koin Shopee Eksklusif untuk Penjual Terpilih Shopee</p3></b>
                    <p3>Koin Shopee tidak dapat digunakan pada penjual lainnya.</p3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container">
        <div class="container">
            <div>
                <h1>BAGAIMANA CARA MENGENALI PENJUAL TERPILIH SHOPEE?</h1>
                <p3>Penjual terpilih Shopee dapat dikenali dari badge <img src="{% static 'images/XMLID_775_.png' %}" />
                    yang dapat kamu temukan di:
                </p3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div><a href="{% url 'login' %}"><img src="{% static 'images/Asset 13.png' %}" /></a></div>
            <p3>Pendaftaran dan pengumuman Penjual Terpilih Shopee akan dilakukan setiap hari Jumat.</p3>
        </div>
    </div>
</div>
{% endblock %}